<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Site Automation Test Suite" parallel="methods" thread-count="1">
    <test name="Core Modules and Existing Tests">
        <classes>
            <class name="com.siteautomation.tests.AuthModulesTest"/>
            <class name="com.siteautomation.tests.ElementsModulesTest"/>
            <class name="com.siteautomation.tests.DynamicModulesTest"/>
            <class name="com.siteautomation.tests.DynamicInteractionModulesTest"/>
            <class name="com.siteautomation.tests.UtilityModulesTest"/>
            <class name="com.siteautomation.tests.FileDownloadTest"/>
            <class name="com.siteautomation.tests.BrowserApiModulesTest"/>
            <class name="com.siteautomation.tests.FormInteractionModulesTest"/>
            <class name="com.siteautomation.tests.MouseAndMenuModulesTest"/>
            <class name="com.siteautomation.tests.FramesModulesTest"/>
            <class name="com.siteautomation.tests.JavascriptAlertsTest"/>
            <class name="com.siteautomation.tests.KeyPressesTest"/>
            <class name="com.siteautomation.tests.DomAndWindowsModulesTest"/>
        </classes>
    </test>
</suite>
